# Numba+LLVM+SHAP 官方兼容稳定组
llvmlite==0.46.0
numba==0.63.1
shap==0.49.0

# 基础数值计算
numpy==1.26.4
scipy==1.16.1
pandas==2.3.3
joblib==1.5.1
threadpoolctl==3.6.0

# 机器学习核心（无XGBoost）
scikit-learn==1.7.1
catboost==1.2.8
lightgbm==4.6.0

# 超参数优化
optuna==4.6.0
hyperopt==0.2.7

# 绘图&网页运行
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.5.0
streamlit==1.52.2
